<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col col-12">
                    <h2 class="text-center">Our library</h2>
                </div>
                <div class="col col-12">
                    <p class="text-center">Our library grows everyday. Reasons are that 
                        we let all our visitors add books and authors. 
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-12">
                <div class="col col-6">¨
                    <!-- add filters here! -->
                    <p>filters here</p>
                </div>
                <div class="col col-6">
                    <p>filters here</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</section>