<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 mt-4 ">
                <h2 class="text-center">Add book</h2>
                <form class="border border-2" action="/books" method="POST" enctype="multipart/form-data">
                    <%- include('_create_book') %>
                    <div class="row">                       
                        <div class="col-11 d-flex justify-content-md-end mb-2">
                            <a href="/books" class="btn btn-danger me-2">Cancel</a>
                        </div>
                        <div class="col-1 d-flex justify-content-md-end mb-2 ">
                            <button type="submit" class="btn btn-success ">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
