<div class="row">
    <div class="col-12 d-flex justify-content-center">
            <div class="row form-label pt-2">
                <div class="col-12">
                    <label for="user"  class="form-label">User</label>
                </div>
                <div class="col-12">
                    <input type="text" name="user"><%= comment.user %>
                </div>
                <div class="col-12 ">
                    <label for="text" class="form-label">Text</label>
                </div>
                <div class="col-12 ">
                    <textarea name="text" value="<%= comment.text %>" id=""></textarea>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col d-flex justify-content-md-end">
                <a href="/books" class="btn btn-danger ms-2">Cancel</a>
                <button type="submit" class="btn btn-success mr-3">Add comment</button>
            </div>
        </div>
</div>