<!-- modal or just panel with modal on "learn more"?  -->

<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. 
    <a href="" target="">Learn more</a>
    <button type="button" class="btn btn-primary btn-sm acceptcookies">
        I agree
    </button>
</div>