<div class="row">
    <div class="col input-group">
        <div class="col-2">
            <label for="">Name</label>
        </div>
        <div class="col-10">
            <input class="form-control" type="text" name="name" value="<%= author.name %>">
        </div>
    </div>
</div>
<div class="row">
    <div class="col input-group">
        <div class="col-2">
            <label>Genre</label>
        </div>
        <div class="col-10">
            <input type="text" class="form-control" name="genre" value="<%= author.genre %>">
        </div>
    </div>
</div>
<div class="row">
    <div class="col input-group">
        <div class="col-2">
            <label for="">Birth</label>
        </div>
        <div class="col-10">
            <input type="date" class="form-control" name="dateOfBirth" value="<%= author.dateOfBirth.toISOString().slice(0,10) %>">
        </div>
    </div>
</div>
<div class="row">
    <div class="col input-group">
        <div class="col-2">
            <label for="">About <%= author.name %></label>
        </div>
        <div class="col-10">
            <textarea name="aboutAuthor" class="form-control aboutAuthorTextArea"></textarea>
        </div>
    </div>
</div>