<section class=" mt-5">
    <h2 class="text-center">Edit <%= author.name %></h2>
    <div class="container mt-5 ">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-7">
                <form action="/authors/<%= author.id %>?_method=PUT" method="POST">
                    <div class="row">
                        <div class="col">
                            <%- include('_edit_authors.ejs') %>
                            <div class="col d-flex justify-content-end mt-2">
                                <a href="/authors" class="btn btn-danger ms-2">Cancel</a>
                                <button type="submit" class="btn btn-success ms-2">Edit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>