<div class="container my-5">
    <div class="row pt-3 ">
        <div class="col-12 ">
            <h2 class="text-center">Search authors</h2>
        </div>
    </div>
    <div class="row text-center pt-1">
        <div class="col-12 ">
            <form action="/authors" method="GET">
                <label for="">Name</label>                
                <input type="text" name="name" value="<% searchOptions.name %>">
                <button class="btn btn-info mt-1 mt-sm-0">Search</button>

            </form>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <% authors.forEach(author => { %>
            <div class="col col-12 col-md-6 mt-2">
                <p><%= author.name %></p>
            </div>
            <div class="col col-12 col-md-6 d-flex justify-content-start justify-content-md-end mt-2 px-0">
                <a href=""class="btn " type="GET" id="viewAuthor">View</a> 
                <a href="" class="btn btn-warning mx-3"type="GET" id="editAuthor">Edit</a> 
                <button class="btn btn-danger" type="submit" id="deleteAuthor">Delete</button>
            </div>
        <% }) %>
    </div>
</div>
