<h2>New authors</h2>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="/authors" method="POST">
                <div class="row">
                    <div class="col-12">
                        <%- include('_create_author.ejs') %>
                        <a href="/authors" class="btn btn-danger ms-2">Cancel</a>
                        <button type="submit" class="btn btn-success ms-2">Create</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pt-2 ">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>